@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --desert-sand: #ecc8afff;
    --melon: #e7ad99ff;
    --old-rose: #ce796bff;
    --persian-orange: #c18c5dff;
    --paynes-gray: #495867ff;
}

* {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #efefef;
    margin: 0;
}

#navbar-div {
    overflow: hidden;
    width: 100%;
    background-color: var(--desert-sand);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 100px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:30%;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: var(--paynes-gray);
    font-size: larger;
}

h1 {
    color: var(--paynes-gray);
    margin-left:2%;
}

.content-div {
    margin-bottom: 10px;
}

.para {
    margin: 20px;
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #9f9f9f,
                -10px -10px 20px #ffffff;
    padding:30px;
}

.footer-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--desert-sand);
    color: var(--paynes-gray);
    text-align: center;
}

.footer-text {
    margin:10px auto;
}

