@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --desert-sand: #ecc8afff;
    --melon: #e7ad99ff;
    --old-rose: #ce796bff;
    --persian-orange: #c18c5dff;
    --paynes-gray: #495867ff;
}

* {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

body {
    background-color: #efefef;
    margin: 0;
}

#navbar-div {
    overflow: hidden;
    width: 100%;
    background-color: var(--desert-sand);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 81px;
    align-items: center;
}

.home-link {
    text-decoration: none;
    color: var(--paynes-gray);
    margin-left: 2%;

    h2 {
        margin:0px;
        color: var(--paynes-gray) !important;
        text-align: center;
    }

    svg {
        height: 45px;
        left: 0;
        position: absolute;
        top: 0; 
        width: 100%; 
      }
      
      rect {
        fill: none;
        stroke: var(--paynes-gray);
        stroke-width: 5;
        stroke-dasharray: 422, 0;
        transition: all 0.35s linear;
      }
}

.home-link:hover {
    letter-spacing: 1px;
    
    rect {
      stroke-width: 5;
      stroke-dasharray: 50, 270;
      stroke-dashoffset: 30;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #content-div {
    padding-top: 81px;
}

.nav-menu {
    justify-content: space-evenly;
    width:40%;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: 2%;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    line-height: 45px;
    max-width: 280px; 
    position: relative;
    width: 100%;     
    :hover { text-decoration: none; }
    text-transform: uppercase;
    
  }

.nav-links {
    text-decoration: none;
    color: var(--paynes-gray);
    font-size: larger;
    margin:0px 8px;

    svg {
        height: 45px;
        left: 0;
        position: absolute;
        top: 0; 
        width: 100%; 
      }
      
      rect {
        fill: none;
        stroke: var(--paynes-gray);
        stroke-width: 5;
        stroke-dasharray: 422, 0;
        transition: all 0.35s linear;
      }
}

.nav-links:hover {
    letter-spacing: 1px;
    
    rect {
      stroke-width: 5;
      stroke-dasharray: 50, 165;
      stroke-dashoffset: 30;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

.hero {
    text-align: center;
    height:400px;
    display: block;
    width: 100%;
    background-color: #e1dfdf;   
}

#hero-text-cont {
    margin-top: 0;
    width:100%;
    height:400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hero-text{
    text-align: left;
    text-transform: uppercase;
    margin-left: 10%;
    margin-right: 40%;
    
    h2 {
        color:var(--old-rose);
        margin: 0px;
    }

    h1 {
        margin: 0px;  
    }

    p {
        font-size: small;
        margin: 0px;
        word-wrap: break-word;
    }

}

.para {
    margin: 20px;
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #9f9f9f,
                -10px -10px 20px #ffffff;
    padding:30px;
}

.bottom-pad {
    padding-bottom: 50px;
}

.footer-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--desert-sand);
    color: var(--paynes-gray);
    text-align: center;
}

.footer-text {
    margin:10px auto;
}

